/* Common styles */
* {
    margin: 0;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container styles */
.container {
    width: 100vw;
    height: 100vh;
    background: url('images/bg-image.jpg');
}

.content {
    flex-direction: column;
    width: 800px;
    height: 300px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: linear-gradient(390deg, rgb(6, 189, 6), greenyellow);
}

.count {
    color: tomato;
    font-size: 55px;
    margin-bottom: 30px;
}

.button {
    border: none;
    color: tomato;
    padding: 12px 25px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: whitesmoke;
    background: linear-gradient(180deg, tomato, salmon);
}

/* Media query for mobile device */
@media screen and (max-width: 576px) {
    .content {
        width: 45%;
    }

    .buttons {
        display: grid;
        grid-row-gap: 5px;
    }

}

/* Media query for tablet device */
@media screen and  (min-width: 577px) and (max-width: 992px) {
    .content {
        width: 80%;
    }
}