/* Common styles */
* {
    margin: 0;
}

body {
    background: url('images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container styles */
.container {
    width: 1440px;
    margin: 130px auto 0 auto;
}

.content {
    flex-direction: column;
    width: 800px;
    height: 300px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: linear-gradient(90deg, honeydew,  #acff2ff1);
}

.count {
    color: tomato;
    font-size: 50px;
    margin-bottom: 30px;
}

.button {
    border: none;
    color: tomato;
    padding: 12px 25px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: whitesmoke;
    background: linear-gradient(180deg, tomato, salmon);
}

/* Media query for mobile device */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        margin-top: 20px;
    }

    .content {
        width: 40%;
        margin-bottom: 10px;
    }

    .buttons {
        display: grid;
        grid-row-gap: 5px;
    }

}

/* Media query for tablet device */
@media screen and  (min-width: 577px) and (max-width: 992px) {
    .container {
        width: 100%;
        margin-top: 60px;
    }

    .content {
        width: 80%;
        padding: unset;
    }
}

/* Media query for medium device */
@media screen and  (min-width: 993px) and (max-width: 1441px) {
    .container {
        width: 100%;
        margin-top: 80px;
    }
}